/* general styles */
html {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, .table{
    font-family: 'Gamja Flower', cursive;
    color: rgb(81, 84, 101);
    margin-bottom: 3vh;
}
h1 {
    margin-top: 2vh;
    font-size: 8vw;
}
h2 {
    font-size: 6vw;

}
h3, .table {
    font-size: 3vw;
}
p, a, li {
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    margin-bottom: 3vh;
}
p, li {
    color: rgb(81, 84, 101);
}
a {
    color: rgb(189, 79, 0);
}
a:hover {
    color: rgb(81, 84, 101);
}
ul, li {
    padding-left: 5vw;
}
em {
    color: rgb(113, 115, 138);
    font-style: normal;
}

@media (max-device-width: 500px) {

    h1 {
        margin-top: 2vh;
        font-size: 15vw;
    }
    h2 {
        font-size: 6vh;
    
    }
    h3, .table {
        font-size: 4vh;
    }
    p, a, li {
        font-family: 'Quicksand', sans-serif;
        font-size: 3vh;
        margin-bottom: 3vh;
        font-weight: 500;
    }

}

@media (min-device-width: 501px) and (max-device-width: 850px){
    h1 {
        margin-top: 2vh;
        font-size: 15vh;
    }
    h2 {
        font-size: 9vh;
    
    }
    h3, .table {
        font-size: 6vh;
    }
    p, a, li {
        font-family: 'Quicksand', sans-serif;
        font-size: 4.2vh;
        margin-bottom: 3vh;
    }
}
@media (min-device-width: 1001px) and (max-device-width: 1200px) and (orientation: landscape) {
    h1 {
        margin-top: 2vh;
        font-size: 15vh;
    }
    h2 {
        font-size: 9vh;
    
    }
    h3, .table {
        font-size: 7vh;
    }
    p, a, li {
        font-family: 'Quicksand', sans-serif;
        font-size: 4.2vh;
        margin-bottom: 3vh;
    }
}

@media (max-width: 850px) {
    h1 {
        margin-top: 2vh;
        font-size: 12vw;
    }
    h2 {
        font-size: 6vh;
    
    }
    h3, .table {
        font-size: 5vW;
    }
    p, a, li {
        font-family: 'Quicksand', sans-serif;
        font-size: 4vw;
        margin-bottom: 3vh;
    }
    
}

.home-container {
    margin-top: 15vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 85vh;
    overflow: hidden;
}
.home-page {
    text-align: center;
}
.fishchowder {
    position: absolute;
    width: 60vw;
    display: block;
    left: 20vw;
    margin-top: 5vh;
    transition: all 0.2s ease-in-out;
    z-index: 0;
}
.fishchowder:hover  {
    opacity: 0.9;
    width: 62vw;
}
.title {
    width: 40vw;
    position: absolute;
    display: block;
    left: 30vw;
    bottom: 0vh;
    z-index: 1;
}
.card {
    position: absolute;
    z-index: 20;
    display: none;
}

@media (max-device-width: 500px) {
    .fishchowder {
        position: relative;
        width: 110vw;
        margin-top: 40vh;
        left: 10vw;
    }
    .fishchowder:hover  {
        opacity: 0.9;
        width: 112vw;
    }
    .title {
        top: 5vh;
        position: relative;
        width: 110vw;
        left: 10vw;
    }
    
}



@media (min-device-width: 501px) and (max-device-width: 850px){
    .fishchowder {
        padding-top: 8vh;
        width: 110vw;
        left: 8vw;
    }
    .fishchowder:hover  {
        opacity: 0.9;
        width: 112vw;
    }
    .title {
        top: 80vh;
        width: 110vw;
        left: 10vw;
    }
}

@media (max-width: 750px) {
    .fishchowder {
        padding-top: 8vh;
        width: 90vw;
        left: 5vw;
    }
    .fishchowder:hover {
        width: 92vw;
    }
    .title {
        width: 90vw;
        left: 5vw;
    }

}

@media (min-device-width: 850px) and (max-device-width: 1000px) and (orientation: landscape) {
    .fishchowder {
       bottom: -20vh;
       width: 60vw;
       margin-left: 15vw;
    }
    .title {
        bottom: -30vh;
        margin-left: 15vw;
    }
}
@media  (max-device-width: 849px) and (orientation: landscape) {
    .fishchowder {
       bottom: -10vh;
       width: 70vw;
       margin-left: 25vw;
    }
    .title {
        margin-top: 10vh;
        margin-left: 20vw;
        width: 70vw;
    }
}
@media (min-device-width: 1001px) and (max-device-width: 1200px) and (orientation: landscape) {
    .fishchowder {
       bottom: 0vh;
       width: 80vw;
       margin-left: 5vw;
    }
    .title {
        bottom: -30vh;
        width: 70vw;
        margin-left: 0vw;
    }
}

/*background*/
.background {
    background-image: url( /images/background-low-res.png);
}


@media (max-device-width: 500px) {
    .home-container {
        overflow: visible;
    }
    .card {
        display: block;
        position: relative;
    }
}
@media (min-device-width: 501px) and (max-device-width: 850px){
    .home-container {
        overflow: visible;
    }
    .card {
        display: block;
        position: relative;
        bottom: -100vh;
    }
}
    @media (min-device-width: 1001px) and (max-device-width: 1200px) and (orientation: landscape) {
        .home-container {
            overflow: visible;
        }
        .card {
            display: block;
            position: relative;
            bottom: -120vh;
        }
}
@media  (max-device-width: 849px) and (orientation: landscape) {
    .home-container {
        overflow: visible;
    }
    .card {
        display: block;
        position: relative;
        bottom: -120vh;
    }
}
@media (min-device-width: 850px) and (max-device-width: 1000px) and (orientation: landscape) {
    .home-container {
        overflow: visible;
    }
    .card {
        display: block;
        position: relative;
        bottom: -120vh;
    }
}