.nav-list {
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 20;
    height: 12vh;
    width: 100vw;
    background-color: rgba(81, 84, 101, 0.9);
    border-bottom: 6px double rgb(211, 194, 175);
}
.nav-list {

    top: 0;
}

.nav-list h2 > a {
    font-family: 'Gamja Flower', cursive;
    font-weight: bold;
    color: rgb(211, 194, 175);
}

.nav-list h2 > a:hover, .nav-list h2 > a:active {
    color: rgb(189, 79, 0);
}

/*PHONE SETTINGS*/
@media (max-width: 800px) {
    .nav-list {
        height: 10vh;
    }
}