<head>
    {% if  page.title %}
    <title>{{ page.title }} | fishchwder</title>
    {% else %}
    <title>fishchwder</title>
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="">
    {% endif %}

    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pages.css">
    <link rel="stylesheet" href="/css/nav-bar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Quicksand&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/9079956576.js" crossorigin="anonymous"></script>

</head>