---
layout: pages
title: about
---
<h1>about</h1>
<div class="about-wrapper">
    <div>
        {% include general-links.html %}
    </div>

    <p class="about-para general-bio">
        fishchwder is a 
    </p>

    <div>
        {% include creb-links.html %}
    </div>
    <div>
        <img src="{{ site.baseurl }}/images/fishchowder2.png" class="bio-art">
    </div>
    <p class="about-para">
        :D
    </p>

    <div>
        {% include rainbowzj-links.html %}
    </div>
    <div>
        <img src="{{ site.baseurl }}/images/fishchowder2.png" class="bio-art">
    </div>
    <p class="about-para">
        :D
    </p>



</div>


