---
layout: pages
title: about
---
<h1>about</h1>
<div class="about-wrapper">

    <p class="about-para">
        fishchwder is a 
    </p>

    <div>
        {% include creb-links.html %}
    </div>
    <div>
        <img src="/images/fishchowder2.png" class="bio-art">
    </div>
    <p class="about-para">
        :D
    </p>

    <div>
        {% include rainbowzj-links.html %}
    </div>
    <div>
        <img src="/images/fishchowder2.png" class="bio-art">
    </div>
    <p class="about-para">
        :D
    </p>



</div>


