---
layout: pages
title: about
---
<h1>about</h1>
<div class="about-wrapper">
    <div>
        {% include general-links.html %}
    </div>

    <p class="about-para general-bio">
        <em>fishchwder</em> is a small, artist-owned business based in the Greater Vancouver area. 
    </p>
    <p class="about-para general-bio">
        Currently, we offer physical merchanidise on our <a href="https://fishchwder.etsy.com" rel="noopener" target="_blank">Etsy</a> page along with 
        individual <a href="{{ site.baseurl }}/commissions/">commissions</a> on our website. All profits from our Etsy page go towards new products and maintaining the business while our commission profits go towards the currently selected charity.
    </p>
    <p class="about-para general-bio">
        Discord: fishchwder
    </p>
    <p class="about-para general-bio">
        Please feel free to contact us if you have any questions or concerns~
    </p>

    <div>
        {% include creb-links.html %}
    </div>
    <div>
        <img src="{{ site.baseurl }}/images/gallery/akali.jpg" class="bio-art">
    </div>
    <p class="about-para">
        currently residing under the sea :)        
    </p>

    <div>
        {% include rainbowzj-links.html %}
    </div>
    <div>
        <img src="{{ site.baseurl }}/images/gallery/silverwolf.jpg" class="bio-art">
    </div>
    <p class="about-para">
        i try to draw sometimes :>
    </p>



</div>


