---
layout: pages
title: gallery
---
<h1>gallery ✦</h1>
<div class="gallery-wrapper">
    <div>
        {% include creb-links.html %}
    </div>
    
    <div class="art-wrapper">
        <img src="{{ site.baseurl }}/images/fishchowder2.png" class="artwork">
        <img src="{{ site.baseurl }}/images/fishchowder2.png" class="artwork">
    </div>
    <div>
        {% include rainbowzj-links.html %}
    </div>


    <div class="art-wrapper">
        <img src="{{ site.baseurl }}/images/fishchowder2.png" class="artwork">
        <img src="{{ site.baseurl }}/images/fishchowder2.png" class="artwork">
    </div>

</div>

<div class="bottom-list">
    <span class="bottom-list-left">
        <a href="{{ site.baseurl }}/commissions/pricing-and-examples/">⇐ pricing + examples</a>
    </span>
    <span class="bottom-list-right">
        <a href="{{ site.baseurl }}/commissions/terms/">terms ⇒</a>
    </span>
</div> 