---
layout: pages
title: gallery
---
<h1>gallery ✦</h1>
<div class="gallery-wrapper">
    <div>
        {% include creb-links.html %}
    </div>
    
    <div class="art-wrapper">
        <img src="{{ site.baseurl }}/images/gallery/gl-1.jpg" class="artwork">
        <img src="{{ site.baseurl }}/images/gallery/gl-5.jpg" class="artwork">
        <img src="{{ site.baseurl }}/images/gallery/gl-3.jpg" class="artwork">
        <img src="{{ site.baseurl }}/images/gallery/gl-2.jpg" class="artwork">
        <img src="{{ site.baseurl }}/images/gallery/akali.jpg" class="artwork">
    </div>
    <div>
        {% include rainbowzj-links.html %}
    </div>


    <div class="art-wrapper">
        <img src="{{ site.baseurl }}/images/gallery/ezreal_faerie_court.jpg" class="artwork">
        <img src="{{ site.baseurl }}/images/gallery/himeko_heart.jpg" class="artwork">
        <img src="{{ site.baseurl }}/images/gallery/silverwolf2.jpg" class="artwork">
        <img src="{{ site.baseurl }}/images/gallery/morg.jpg" class="artwork">
        <img src="{{ site.baseurl }}/images/gallery/kat.jpg" class="artwork">
    </div>

</div>

<div class="bottom-list">
    <span class="bottom-list-left">
        <a href="{{ site.baseurl }}/commissions/pricing-and-examples/">⇐ pricing + examples</a>
    </span>
    <span class="bottom-list-right">
        <a href="{{ site.baseurl }}/commissions/terms/">terms ⇒</a>
    </span>
</div> 